# Reverb WebSocket Configuration
NEXT_PUBLIC_REVERB_APP_KEY=jjpnmycugrpdugowbnhd
NEXT_PUBLIC_REVERB_HOST=localhost
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_REVERB_CLUSTER=local

# Laravel API URL
NEXT_PUBLIC_LARAVEL_API_URL=http://aiyou-api.test
